# Git
.git
.gitignore

# Environments
.env
.venv/
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Static analysis and tests
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Project files
*.md
