HOST=0.0.0.0
PORT=8000
SEARCH_PROVIDER=meilisearch

DB_HOST=host.docker.internal
DB_PORT=6768
DB_USER=user
DB_PASSWORD=password
DB_NAME=unidb

CLICK_DB_HOST=click-db
CLICK_DB_PORT=5432
CLICK_DB_USER=click_user
CLICK_DB_PASSWORD=click_password
CLICK_DB_NAME=clicks

SITE_URL=https://etu.ru

SYNC_CRON_INCREMENTAL="0 * * * *"
SYNC_CRON_FULL="0 3 * * 0"

DB_QUERY_HIERARCHY="SELECT id AS id, parent AS parent, pagetitle AS pagetitle, alias AS alias, alias_visible AS alias_visible FROM modx_site_content WHERE deleted = 0 AND published = 1"
DB_QUERY_CONTENT="SELECT id AS id, pagetitle AS pagetitle, longtitle AS longtitle, description AS description, introtext AS introtext, content AS content, alias AS alias, menutitle AS menutitle, published AS published, deleted AS deleted, parent AS parent, template AS template, isfolder AS isfolder, searchable AS searchable, hidemenu AS hidemenu, publishedon AS publishedon, createdon AS createdon, editedon AS editedon, menuindex AS menuindex, hitcount AS hitcount FROM modx_site_content WHERE deleted = 0 AND published = 1 AND searchable = 1"
DB_QUERY_CONTENT_INC="SELECT id AS id, pagetitle AS pagetitle, longtitle AS longtitle, description AS description, introtext AS introtext, content AS content, alias AS alias, menutitle AS menutitle, published AS published, deleted AS deleted, parent AS parent, template AS template, isfolder AS isfolder, searchable AS searchable, hidemenu AS hidemenu, publishedon AS publishedon, createdon AS createdon, editedon AS editedon, menuindex AS menuindex, hitcount AS hitcount FROM modx_site_content WHERE deleted = 0 AND published = 1 AND searchable = 1 AND (editedon > %s OR createdon > %s)"
DB_QUERY_TVS="SELECT contentid AS id, tmplvarid AS tv_id, value AS tv_value FROM modx_site_tmplvar_contentvalues WHERE tmplvarid IN ({placeholders}) AND value IS NOT NULL AND value != ''"

MEILI_URL=http://meilisearch:7700
MEILI_API_KEY=masterKey
MEILI_INDEX=site_content
MEILI_SEMANTIC_RATIO=0.40

SYNC_TOKEN=