# backend settings
HOST=0.0.0.0
PORT=8000
SEARCH_PROVIDER=meilisearch

# db for fetching data
DB_HOST=host.docker.internal
DB_PORT=6768
DB_USER=user
DB_PASSWORD=password
DB_NAME=unidb

# db for logs, clicks
CLICK_DB_HOST=click-db
CLICK_DB_PORT=5432
CLICK_DB_USER=click_user
CLICK_DB_PASSWORD=click_password
CLICK_DB_NAME=clicks

# domain for creating urls
SITE_URL=https://etu.ru

# settings for meilisearch
MEILI_URL=http://meilisearch:7700
MEILI_API_KEY=masterKey
MEILI_INDEX=site_content
MEILI_NO_ANALYTICS=true
MEILI_SEMANTIC_RATIO=0.40
MEILI_EXPERIMENTAL_ALLOWED_IP_NETWORKS=any

# Embedder configuration
# Type can be "huggingface" (built-in) or "rest" (external REST service)
MEILI_EMBEDDER_TYPE=huggingface
# URL is only used when MEILI_EMBEDDER_TYPE=rest.
# E.g., http://search_embedder_fast:9000/embed/meilisearch
MEILI_EMBEDDER_URL=http://search_embedder_fast:9000/embed/meilisearch

# Embedder model settings
MEILI_EMBEDDER_MODEL=intfloat/multilingual-e5-small
# some models needs prefix/prompt
MEILI_EMBEDDER_PREFIX="passage: "
# max document size sent
MEILI_EMBEDDER_MAX_BYTES=2500
# embedding dimension must match the model parameters
MEILI_EMBEDDER_DIMENSIONS=384
