HOST=0.0.0.0
PORT=8000
SEARCH_PROVIDER=meilisearch

DB_HOST=host.docker.internal
DB_PORT=3306
DB_USER=user
DB_PASSWORD=password
DB_NAME=unidb

# domain for creating urls
SITE_URL=https://etu.ru

MEILI_URL=http://meilisearch:7700
MEILI_API_KEY=masterKey
MEILI_INDEX=site_content
MEILI_NO_ANALYTICS=true
MEILI_SEMANTIC_RATIO=0.40
